#joplin-plugin-content {
    width: fit-content;
}

#resource-search {
    width: fit-content;
    display: block;
    flex-direction: column;
    min-width: 400px;
}

#query-input {
    width: 100%;
    box-sizing: border-box;
}

#search-results {
    display: table;
    width: 100%;
}

#results-header {
    display: table-header-group;
}

.search-result-row {
    display: table-row-group;
}

.resource-name-cell {
    text-align: start;
    display: table-cell;
}

.referencing-notes-cell {
    text-align: end;
    display: table-cell;
}